body{
    margin: 0;
    padding: 0;
    background-color: #191919;

}
h1{
    color: #fff;
    font-weight: bold;

}
#textArea{
    opacity: 0;
}
.good{
    background-color: #4eeda1;
    color: #fff;
}
.bad{
    background-color: #ff776e;
    color: #fff;
}
span{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    letter-spacing: 1px;
    word-spacing: -5px;
}
.current{
    color: #fff;
    animation: blink 0.3s infinite;
}

.spanWidth{
    word-spacing: 0px;
}
#text{
    cursor: text;
    background-color: #2a2a2a;
    color: #fff;
}

td{
    border: 1px solid gray;
}
@keyframes blink {
    from{
        background-color: rgba(128, 128, 128, 0);
    }
    to{
        background-color: rgba(128, 128, 128, 1);

    }
}